In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt


data = {'names': ['Alice', 'Bob', 'Charlie','David'],
        'age': [20,21,22,23],
        'gender': ['F','M','M','M']}

df=pd.DataFrame(data)

df.head()

     names  age gender
0    Alice   20      F
1      Bob   21      M
2  Charlie   22      M
3    David   23      M