In [28]:
import pandas as pd
data = [1,7,2,'a']
display = pd.Series(data)

In [29]:
display

0    1
1    7
2    2
3    a
dtype: object

In [30]:
display[0]

1

In [31]:

calories = {'day1': 420, 'day2': 380, 'day3': 390}
display = pd.Series(calories)

In [32]:
display

day1    420
day2    380
day3    390
dtype: int64

In [33]:
print(display['day3'])

390

In [34]:
display = pd.Series(calories, index=["day1","day2"])
display

day1    420
day2    380
dtype: int64

In [35]:
# Pandas DataFrame Using Python Dictionary
data = {'Name': ['John', 'Alice', 'Bob'],
       'Age': [25, 30, 35],
       'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)
df

    Name  Age      City
0   John   25  New York
1  Alice   30    London
2    Bob   35     Paris

In [40]:
# Pandas DataFrame Using Python List
data = [['John', 25, 'New York'],
       ['Alice', 30, 'London'],
       ['Bob', 35, 'Paris'],]
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'], index=['a','b','c'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 96.0+ bytes

In [37]:
# Pandas DataFrame From a File
# load data from a CSV file
df = pd.read_csv("../Capstone.csv", names=["Capstone Titles"])
df.dropna(axis=0,inplace=True)
df

                                      Capstone Titles
0   E-Commerce Platform of Cagayan State Universit...
1   BOOKEASE: Simplifying Hospitality with Seamles...
2                      Casa Angela Hotel Reservations
3   Data-Driven Optimization for B2B E-commerce: M...
4   Delevopment of an Online Boking and Reservatio...
5   Develop an E-commerce Platform for the Cagayan...
6   Development of a Online Booking and Reservatio...
7   Development of an Online Booking and Reservati...
8   Development Of an Online Hotel Reservation and...
9   Development of Attendance Monitoring System of...
10  Development of Boarding House and Apartment Fa...
11  Development of Client-Server Inventory System ...
12         Development of E-Tulud mobile application
13  Development of Online Booking and Reservation ...
14  Development of Online Booking and Reservation ...
15  Development of Online Booking and Reservation ...
16  Development of Online Booking and Reservation ...
17  Development of Online Hotel Reservation and Bo...
18  Development of Online Hotel Reservations and B...
19  Development of Online Integrated Student Counc...
20  Development of Online Record Management System...
21  Development of Online Reservation and Booking ...
22  Development of Online Reservation System of Me...
23  Development of Online Integrated Student Counc...
24  Development of Record Management System in LGU...
25  Development of Web-based Records Management Sy...
26  Development of Web-Based Sports Equipment Mana...
27  Intelligent Supply Chain for Cagayan State Uni...
28  Online Monitoring and Evaluation of Research a...
29  Online Record Management System in Municipalit...
30  Online Reservation and Inventory Management Sy...
31  Payroll Management System of Lighthouse Cooper...
32  ROOMIE: Reservation & Occupancy Optimization M...
33  Web Hosting Server Management of CSU Business ...

In [38]:
df.head()

                                     Capstone Titles
0  E-Commerce Platform of Cagayan State Universit...
1  BOOKEASE: Simplifying Hospitality with Seamles...
2                     Casa Angela Hotel Reservations
3  Data-Driven Optimization for B2B E-commerce: M...
4  Delevopment of an Online Boking and Reservatio...